.image-opacity {
  position: relative;
}

.image-opacity::before {
  display: none;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  opacity: 0.1; /* Adjust this value to set the image opacity */
  z-index: -1;
}
